==
<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>CIS</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{ 'assets/logo/cis.png' |theme }}" type="image/png' |theme }}">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' |theme }}">

    <!--====== Fontawesome Pro css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/all.css' |theme }}">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' |theme }}">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/nice-select.css' |theme }}">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/animate.min.css' |theme }}">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/slick.css' |theme }}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/default.css' |theme }}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/style.css' |theme }}">

    <!--====== tabs css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/tabs.css' |theme }}">


</head>

<body>

<!--  PRELOADER PART START -->
<div class="preloader">
    <div class="loading">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!--====== PRELOADER PART START ======-->

<!--====== HEADER PART START ======-->

{% partial 'header' %}

<!--====== HEADER PART ENDS ======-->

<section id="layout-content" class="body">

    {% page %}

</section>

<!--====== footer PART START ======-->
{% partial 'footer' %}
<!--====== footer PART ENDS ======-->

<!--====== BACK TO TOP ======-->
<div class="back-to-top back-to-top-2">
    <a href="">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
<!--====== BACK TO TOP ======-->


<!--====== jquery js ======-->
<script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js' | theme}}"></script>
<script src="{{ 'assets/js/vendor/modernizr-3.6.0.min.js' | theme}}"></script>

<!--====== Bootstrap js ======-->
<script src="{{ 'assets/js/bootstrap.min.js' | theme}}"></script>
<script src="{{ 'assets/js/popper.min.js' | theme}}"></script>

<!--====== Slick js ======-->
<script src="{{ 'assets/js/slick.min.js' | theme}}"></script>

<!--====== Isotope js ======-->
<script src="{{ 'assets/js/isotope.pkgd.min.js' | theme}}"></script>

<!--====== Images Loaded js ======-->
<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | theme}}"></script>

<!--====== Magnific Popup js ======-->
<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | theme}}"></script>

<!--====== Magnific Popup js ======-->
<script src="{{ 'assets/js/jquery.counterup.min.js' | theme}}"></script>

<!--====== Circle Progress js ======-->
<script src="{{ 'assets/js/circle-progress.min.js' | theme}}"></script>


<!--====== Syotimer js ======-->
<script src="{{ 'assets/js/jquery.syotimer.min.js' | theme}}"></script>

<!--====== Nice Select js ======-->
<script src="{{ 'assets/js/jquery.nice-select.min.js' | theme}}"></script>

<!--====== wow js ======-->
<script src="{{ 'assets/js/wow.min.js' | theme}}"></script>

<!--====== Magnific Popup js ======-->
<script src="{{ 'assets/js/waypoints.min.js' | theme}}"></script>

<!--====== Main js ======-->
<script src="{{ 'assets/js/main.js' | theme}}"></script>

</body>

</html>
